node_modules

# Editors
.idea
*.iml

# Coverage reports
coverage

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# API keys and secrets
.env

# log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
